*{
    margin: 0;
    /*box-sizing: border-box;*/
}

html, body {
    font-size: 18px;
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    background: #f1f1f1;
    padding: 30px;
}

h1{
    text-align: center;
    margin-bottom: 40px;
}

button {
    background: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: .9rem;
}

button:hover{
    background: blue;
}

button:active{
    background: green;
    color: deeppink;
}

.slider{
    width: 128px;
    height: 128px;
    border: 2px solid black;
    margin: 30px auto;
}
.slider-line{
    height: 256px;
    width: 512px;
    background: green;
    display: flex;
}