*{
    margin: 0;
    /*box-sizing: border-box;*/
}

html, body {
    font-size: 18px;
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    background: #a7a3a3;
    padding: 30px;
}

h1{
    text-align: center;
    margin-bottom: 40px;
}

button {
    background: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: .9rem;
    cursor: pointer;
}

button:hover{
    background: blue;
}

button:active{
    background: #0beac6;
    color: #0b0106;
}

.slider{
    width: 128px;
    height: 128px;
    border: 2px solid #000000;
    margin: 30px auto;
    overflow: hidden; /* спрятали лишний фон slider-line background*/
}
.slider-line{
    height: 128px;
    width: 512px;
    background: #8bf3fc;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}